.clients {
  padding: 8vh 4vw;
  @media all and (max-width: 800px) {
    padding-top: 4vh;
  }
  @media all and (min-width: 601px) {
    width: calc(100vw - 186px);
  }
  @media all and (max-width: 600px) {
    width: auto;
  }
}
