.client {
  padding: 8vh 4vw;
  @media all and (max-width: 800px) {
    padding-top: 4vh;
  }
  @media all and (min-width: 601px) {
    width: calc(100vw - 186px);
  }
  @media all and (max-width: 600px) {
    width: auto;
  }
  .ui.form {
    .field {
      margin-bottom: 2rem;
      &.signup-date, &.province, &.canton, &.district {
        width: 33%;
      }
      input[type="date"] {
        width: 100%;
      }
    }
    label {
      font-size: 14px;
      font-weight: 300;
      color: $input-bottom-border;
    }
    input, input:focus {
      border: none;
      border-radius: unset;
      border-bottom: solid 1px $input-bottom-border;
    }
    input[readonly] {
      border: none;
    }
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .ui.list {
        width: 100%;
        .item {
          &:first-child {
            .content .header {
              color: $dark;
              font-weight: bold;
              font-size: 16px;
            }
          }
          &:last-child {
            float: right;
            .content .header {
              cursor: pointer;
            }
          }
          .content {
            box-shadow: none;
            font-size: 14px;
            .header {
              font-family: 'Hind', sans-serif;
              font-weight: 300;
              color: $input-bottom-border;
              margin-bottom: 0.5rem;
              i.on {
                color: $active;
              }
              i.off {
                color: $inactive;
              }
            }
            .description {
              color: $dark;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
