.contact-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  .scroll {
    left: inherit;
    right: 15%;
    a span::after {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      margin-top: -6px;
    }
  }
  .message {
    p {
      color: inherit;
      font-size: inherit;
    }
  }
  .ui.form {
    width: 27.8vw;
    margin-top: 32px;
    @media all and (max-width: 568px){
      width: 90%;
    }
    .ui.input {
      height: 50px;
      &.error {
        width: 90%;
      }
      @media (max-width: 1300px) {
        min-width: 270px;
      }
    }
    @media (max-width: 1300px) {
      textarea {
        min-width: 270px;
      }
    }
  }
  .field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: column;
    flex-direction: row;
    &> div {
      margin-bottom: 1rem;
    }
    @media (max-width: 1300px) {
      flex-direction: column;
      &> div:last-child {
        margin-bottom: 0;
      }
    }
  }
}
#contactenos {
  padding-left: 35vw;
  padding-right: 35vw;
  @media all and (max-width: 568px) {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
