.faqs-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 12.5vh;
  .question {
    margin-bottom: 12vh;
  }
  .question-icon {
    width: 72px;
    height: 72px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    position: relative;
    left: -2.7vw;
    float: left;
    top: 5px;
    @media all and (max-width: 480px) {
      left: -0.7vw;
    }
    span {
      font-size: 45px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      width: 50px;
      height: 50px;
      background-color: $dark-green;
      display: block;
      margin-left: 10px;
      margin-top: 10px;
      padding-top: 9px;
      position: relative;
      border-radius: 50%;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    align-items: center;
    @media all and (max-width: 320px) {
      height: 50vh;
    }
    @media all and (min-width: 321px) and (max-width: 480px) {
      width: 100%;
      align-items: inherit;
      height: 50vh;
      padding-top: 8vh;
    }
    @media all and (min-width: 481px) and (max-width: 1024px) {
      height: 50vh;
    }
    h2 {
      font-size: 35px;
      font-weight: bold;
      line-height: 1.17;
      text-align: center;
      color: #FFFFFF;
      width: 45vw;
      text-transform: uppercase;
      height: 30.8vh;
      padding-top: 9vh;
      @media all and (max-width: 320px) {
        padding-top: 0vh;
      }
      @media all and (max-width: 767px) {
        font-size: 22px;
      }
      span {
        display: inline-block;
        position: relative;
        &:before, &:after {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 1px solid white;
          top: 4vh;
          width: 100vw;
          @media all and (max-width: 480px) {
            border-bottom: 0px solid white;
          }
        }
        &:before {
          right: 100%;
          margin-right: 15px;
        }
        &:after {
          left: 100%;
          margin-left: 15px;
        }
      }
    }
  }
  .content {
    height: 100vh;
    width: 100vw;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .question-box {
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.07);
    width: 63.85vw;
    height: 18.5vh;
    @media all and (max-width: 480px) {
      width: 100%;
      height: 40vh;
    }
    &.open {
      margin-left: 3vw;
    }
    .top-gradient {
      display: inline-block;
      width: 100%;
      height: 7px;
      background: linear-gradient(90deg, $light-green 250px, $dark-green 350px);
      position: relative;
      top: -8px;
    }
    p {
      font-size: 20px;
      font-weight: bold;
      color: #4a4a4a;
      padding-top: 3vh;
      padding-right: 5vw;
    }
  }
  .answer {
    background-color: #fff;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.07);
    min-height: 58px;
    position: relative;
    top: -10px;
    display: flex;
    align-items: flex-start;
    padding-left: 6vw;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 2vh;
    p {
      display: none;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.43;
      color: #1f1f1f;
      padding-top: 5vh;
      padding-bottom: 2vh;
      padding-right: 5vw;
      &.open {
        display: block;
      }
    }
    &.open {
      width: 70vw;
    }
    button {
      font-size: 18px;
      color: $dark-green;
      line-height: 1.39;
      letter-spacing: 0.3px;
      font-weight: bold;
    }
  }
}
