.internal-page {
  background: linear-gradient(180deg, $dark 56vh, #FFFFFF 0);
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  @media all and (max-width: 376px) {
    background: linear-gradient(180deg, $dark 64vh, #FFFFFF 0);
  }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    background: linear-gradient(180deg, $dark 74vh, #FFFFFF 0);
  }
  @media all and (min-width: 1024px) and (max-width: 1440px) {
    background: linear-gradient(180deg, $dark 64vh, #FFFFFF 0);
  }
  &.about-us {
    padding-top: 17vh;
    @media all and (max-width: 480px) {
      background: linear-gradient(180deg, $dark 100vh,#fff 0);
      padding-top: 0;
    }
    @media all and (max-width: 320px) {
      background: linear-gradient(180deg, $dark 63vh,#fff 0);
    }

  }
  &.how-works {
    padding-top: 17vh;
    @media all and (max-width: 360px) {
      padding-top: 24vh;
    }
    @media all and (min-width: 361px) and (max-width: 480px) {
      padding-top: 26vh;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      padding-top: 24vh;
    }
    @media all and (min-width: 1024px) and (max-width: 1440px) {
      padding-top: 22vh;
    }
    .sub-header .left-content {
      p {
        padding-top: 8vh;
      }
    }
    @media all and (max-width: 320px) {
      padding-top: 14vh;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  &.register {
    background: none;
    justify-content: flex-start;
    min-height: 88vh;
    padding-top: 12.5vh;
    &.investor {
      @media all and (aspect-ratio: 40/71) {
        padding-top: 15vh;
      }
    }
    &.client {
      @media all and (aspect-ratio: 8/5) {
        padding-top: 10.5vh;
      }
      @media all and (aspect-ratio: 5/8) {
        padding-top: 8.5vh;
      }
      @media all and (aspect-ratio: 40/71) {
        padding-top: 15vh;
      }
    }
    @media all and (max-width: 1024px) {
      flex-direction: column;
      padding-top: 10vh;
    }
    @media all and (max-width: 800px) {
      padding-top: 15vh;
    }
    @media all and (max-width: 768px) {
      padding-top: 10vh;
    }
    @media all and (max-width: 600px) {
      padding-top: 12vh;
    }
    @media all and (max-width: 568px) {
      padding-top: 24vh;
    }
    @media all and (max-width: 320px) {
      padding-top: 16vh;
    }
  }
  .divider {
    display: block;
    width: 246px;
    height: 3px;
    background: linear-gradient(90deg, $light-green 150px, $dark-green 0);
  }
  h2 {
    font-weight: bold;
    font-size: 42px;
    line-height: 53px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 20px;
    @media all and (max-width: 480px) {
      font-size: 35px;
      line-height: 1.23;
      padding: 0;
    }
  }
  .content {
    width: 69.25vw;
    @media all and (max-width: 480px) {
      width: 90vw;
    }
    @media all and (max-width: 320px) {
      width: 100vw;
    }
  }
  .sub-header {
    display: flex;
    flex-direction: row;
    .right-content {
      padding-top: 5vh;
    }
    .left-content {
      width: 19vw;
      margin-right: 3vw;
      padding-top: 6vh;
      @media all and (max-width: 480px) {
        width: 100vw;
        margin: 0;
        padding-left: 10vw;
        img {
          max-width: 90%;
          margin-top: 10vh;
          @media all and (min-width: 768px) and (max-width: 1023px) {
            padding-top: 12vh;
          }
          @media all and (max-width: 320px) {
            margin-top: 5vh;
          }
        }
      }
      @media all and (max-width: 320px) {
        padding-left: 8vw;
      }
      p {
        padding-top: 11.5vh;
        font-weight: bold;
        line-height: 1.39;
        letter-spacing: 0.3px;
        text-align: left;
        color: $dark-green;
        font-size: 18px;
        @media all and (max-width: 480px) {
          width: 74vw;
        }
        @media all and (max-width: 320px) {
          padding-right: 8vw;
          width: 82vw;
        }
         @media all and (min-width: 768px) and (max-width: 1023px) {
          position: absolute;
          width: 80%;
        }
      }
    }
  }
  .main-content {
    padding-top: 5vh;
    column-count: 2;
    padding-bottom: 20vh;
    @media all and (max-width: 480px) {
      column-count: 1;
      padding-left: 8vw;
      padding-right: 8vw;
    }
    @media all and (min-width: 768px) and (max-width: 1023px){
      padding-top: 30vh;
    }
    p {
      color: $dark;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      &.list-item {
        font-weight: bold;
        color: $dark-green;
        font-size: 17px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
