.investor-list {
  .ui.message .content .header {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}
.investor {
  padding: 8vh 4vw;
  @media all and (max-width: 800px) {
    padding-top: 4vh;
  }
  @media all and (min-width: 601px) {
    width: calc(100vw - 186px);
  }
  @media all and (max-width: 600px) {
    width: auto;
  }
  .ui.card {
    width: 100vw;
    @extend .box;
    > .content:first-child {
      border-radius: 4px;
      box-shadow: 0 5px 9px 0 rgba(0,0,0,.06);
      height: 82px;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: $dark;
      > .header {
        font-size: 24px;
        font-family: Hind;
        font-weight: bold;
        color: $dark-gray;
      }
    }
    > .content {
      border: none;
      &.content-form {
        padding: 60px 55px;
      }
    }
  }
  .loan-list > .content {
    padding: 0;
  }
  .ui.form {
    .field {
      margin-bottom: 2rem;
    }
    label {
      font-size: 14px;
      font-weight: 300;
      color: $input-bottom-border;
    }
    input, input:focus {
      border: none;
      border-radius: unset;
      border-bottom: solid 1px $input-bottom-border;
    }
    input[readonly] {
      border: none;
    }
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .ui.list {
        width: 100%;
        .item {
          &:first-child {
            .content .header {
              color: $dark;
              font-weight: bold;
              font-size: 16px;
            }
          }
          &:last-child {
            float: right;
            .content .header {
              cursor: pointer;
            }
          }
          .content {
            box-shadow: none;
            font-size: 14px;
            .header {
              font-family: 'Hind', sans-serif;
              font-weight: 300;
              color: $input-bottom-border;
              margin-bottom: 0.5rem;
              i.on {
                color: $active;
              }
              i.off {
                color: $inactive;
              }
            }
            .description {
              color: $dark;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
