.resetInputs {
  border: none;
}
.loan {
  padding: 8vh 4vw;
  @media all and (min-width: 601px) {
    width: calc(100vw - 186px);
  }
  h3.ui.header {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: $dark;
    font-weight: bold;
    .sub.header {
      font-size: 14px;
      font-weight: 300;
      color: $input-bottom-border;
      margin-top: 15px;
      &:first-child {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: $dark;
  }
  &> div > .ui.grid .column.avatar > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    img {
      margin-top: 5vh;
      margin-bottom: 3vh;
    }
  }
  &> div > .ui.celled.grid>.row {
    box-shadow: none;
  }
  &> div > .ui.celled.grid.box {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.06);
  }
  .invest-buttons, .action-buttons {
    width: 100%;
    margin-bottom: 3vh;
    display: inline;
    @media all and (max-width: 768px) {
      display: block;
    }
  }
  .ui.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .fields {
      width: 100%;
      .field {
        margin-bottom: 1rem;
      }
    }
    .field {
      width: 100%;
      .ui.label {
        margin-top: 1vh;
      }
    }
    .fields-spacer {
      margin-top: 100px;
      width: 100%;
    }
    .ui.dropdown {
      @extend .resetInputs;
      border-bottom: solid 1px $input-bottom-border;
      margin-right: 1vw;
      @media all and (max-width: 768px) {
        margin-right: 21.3vw;
      }
    }
  }
  .ui.card {
    width: 100vw;
    @extend .box;
    > .content {
      border: none;
      &.content-form {
        padding: 5vh 3vw;
      }
      &:first-child {
        border-radius: 4px;
        box-shadow: 0 5px 9px 0 rgba(0,0,0,.06);
        height: 72px;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: $dark;
      }
      > .header {
        font-size: 14px;
        font-weight: bold;
        color: $dark-gray;
        text-transform: uppercase;
      }
    }
  }
  .ui[class*="pointing below"].label {
    background: none;
    margin-bottom: 0;
    padding-left: 5px;
    &.show {
      display: block !important;
    }
    &.hide {
      display: none !important;
    }
  }
  .form .input-field input, .form .input-field input:disabled {
    @extend .resetInputs;
    border-radius: 0;
    padding-top: 0;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: $dark-gray;
    opacity: 1;
    text-transform: uppercase;
  }
  .ui.label.float-label {
    font-size: 14px;
    color: $input-bottom-border;
    font-weight: 300;
  }
}
