.opportunities {
  padding: 8vh 4vw;
  @media all and (max-width: 800px) {
    padding-top: 4vh;
  }
  @media all and (min-width: 601px) {
    width: calc(100vw - 186px);
  }
  .oval {
    width: 16px;
    height: 16px;
    background: $dark-green;
    border-color: $dark-green;
    margin-bottom: 0;
    opacity: 1;
    margin-left: 5px;
    font-size: 8px;
    color: white;
    text-align: center;
    padding-top: 3px;
  }
  .ui.secondary.pointing.menu .item {
    &.active {
      border-color: $light-green;
    }
    padding-bottom: 3vh;
    @media all and (max-width: 320px) {
      padding-left: 3vw;
      padding-right: 3vw;
    }
  }
  .ui.table {
    border: none;
    @media all and (max-width: 1024px) {
      width: 100vw;
    }
    tr th {
      background: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      color: $dark;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
    tr td {
      font-size: 14px;
      font-weight: bold;
      color: grey;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child > a {
        color: grey;
        font-size: 20px;
      }
      img {
        margin-right: 1vw;
      }
    }
  }
  .ui.card {
    width: 100vw;
    @extend .box;
    > .content:first-child {
      border-radius: 4px;
      box-shadow: 0 5px 9px 0 rgba(0,0,0,.06);
      height: 82px;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: $dark;
    }
    > .content {
      border: none;
      &.content-form {
        margin: 5vh 2vw;
        overflow-x: scroll;
      }
    }
    &.menuItems {
      > .content:first-child {
        padding: 0;
        height: auto;
        padding-left: 1vw;
      }
    }
  }
}
.dashboard .wrapper .opportunities .ui.menu {
  background: none;
  padding-top: 2vh;
}
