.subscription-success {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53.68vw;
  padding: 10vh 0;

  &> div {
    width: 40vw;
  }

  .divider {
    width: 150px;
    background: linear-gradient(90deg, $light-green 70px, $dark-green 0);
  }

  h3 {
    color: $dark-gray;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.23;
    text-align: left;
    text-transform: uppercase;
    .oval {
      background-color: $light-green;
      width: 38px;
      height: 38px;
      object-fit: contain;
      font-weight: 100;
      color: white;
      line-height: 1.5;
    }
  }

  p {
    opacity: 0.95;
    font-size: 15px;
    text-align: left;
    padding-right: 6vw;
  }

  .paypal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }
}
