$light-green: rgba(139, 197, 63, 0.97);
$dark-green: rgba(0, 104, 56, 1);
$dark: #1f1f1f;
$light: #F8F8F8;
$dark-gray: #4a4a4a;
$inactive: rgba(223, 223, 223, 0.97);
$active: #006838;
$light-gray: #94989e;
$error: #db2828;
$inputBorder: #c2c2c2;
$placeholderColor: #bbbbbb;
$menu-item: #9f9f9f;
$menu-link: #747474;
$menu-link-active: #FFFFFF;
$input-bottom-border: #9b9b9b;
$yard-green: #417505;
$row-active: rgba(210, 210, 210, 0.23);
$oval-dashboard: #2a843b;
$submenu-item-active: #8bc53f;
$active: #7bba43;
$inactive: #94989e;
$thead-border-bottom: #979797;
